.text {
	color: white;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}
body {
	background-image: url("/img/texture.jpeg");
}
#red, #orange, #yellow, #green, #blue, #purple {
	width: 150px;
	height: 50px;
	padding: 10px;
	border: 1px solid black;
	margin-top: 10px;
}

#red {
	background-color: red;
}
#orange {
	margin-left: 30px;
	background-color: orange;
}
#yellow {
	margin-left: 60px;
	background-color: yellow;
	color: black;
}
#green {
	margin-left: 90px;
	background-color: green;
}
#blue {
	margin-left: 120px;
	background-color: blue;
}
#purple {
	margin-left: 150px;
	background-color: purple;
}
