#next {
	float: right;
	margin-right: 10%;
}
#back {
	margin-left: 10%;
}
.input {
	margin: 4px;
}
body {
	background: url(/img/park.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	width: 100%;
 	height: auto;
}

table {
	background-color: lightblue;
	font-family: 'Work Sans', sans-serif;
}

input[type=text] {
	border: 1px solid #cdcdcd;	
	width: 430px;
	height: 50px;
	font-size: 20px;
}

#inputBox {
	width: 900px;
	margin-left: 300px;
	background-color: rgba(54, 25, 25, .5);
}

#inputField {
	float: left;
}

h4 {
	color: white;
}

h3 {
	color: white;
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

a {
    color: white;	
    font-size: 40px;
    background-color: rgba(150, 180, 70, .8);
}

h1 {
	color: pink;
}

span {
	font-size: 27px;
	color: black;
	background-color: rgba(250, 220, 250, .7)
}

#offsetBox {
	width: 80px;
}